### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/.name
*.xml
*.iml

.DS_Store
.vscode
*.make
*.d
*.check_cache
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-1478e59c301d36248e55.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-29846998aa2202e9c084.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-67b05472d9876cddad87.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-05-27T13-05-13-0816.json
cmake-build-debug/.cmake/api/v1/reply/target-AplikacjaBankowa-Debug-00416aadb674d704545a.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2ebdd397a9b9a925bf87.json
cmake-build-debug/AplikacjaBankowa
cmake-build-debug/AplikacjaBankowa.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AplikacjaBankowa.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/AplikacjaBankowa.dir/compiler_depend.internal
cmake-build-debug/CMakeFiles/AplikacjaBankowa.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/AplikacjaBankowa.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/AplikacjaBankowa.dir/link.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-debug/Testing/Temporary/LastTest.log
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
